<h1>捜索願一覧</h1>

<div class='form-group'>
  <%= search_form_for @q, url: root_path, method: :get do |f| %>
    <div class='d-flex col-sm-8 offset-sm-2 mt-4'>
      <%= f.search_field :date_or_address_cont, placeholder: '日付または場所', class: 'form-control' %>
      <span><%= f.submit '検索', class: 'btn btn-primary' %></span>
    </div>
  <% end %>
</div>

<%= render 'wanteds/wanted_list', wanteds: @wanteds %>

<%= paginate @wanteds %>