<h2 class="room_list">トークルーム一覧</h2>
<h3><%= link_to 'トークルームの作成', new_room_path %></h3>

<div class='form-group'>
  <%= search_form_for @q do |f| %>
    <div class='d-flex col-sm-8 offset-sm-2 mt-4'>
      <%= f.search_field :title_cont, placeholder: '題名', class: 'form-control' %>
      <span><%= f.submit '検索', class: 'btn btn-primary' %></span>
    </div>
  <% end %>
</div>

<% if @rooms.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>作成者</th>
        <th>コメント数</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.title, room %></td>
        <td>
          <%= room.user.name %>
        <% if room.user == current_user %>
          <%= link_to "削除", room, method: :delete, class: "btn btn-danger" %>
        <% end %>
        </td>
        <td>
          <div class="comments_count"><i class="far fa-comment-dots"></i><%= room.comments.count %></div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @rooms %>