<h2 class="text-center mt-4">ルーム作成</h2>

<div class='row'>
  <div class='col-sm-6 offset-sm-3'>
    <%= form_with(model: @room, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class='form-group'>
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        
        <%= f.submit '作成', class: 'btn btn-primary btn-block mt-4' %>
      </div>
    <% end %>
  </div>
</div>
