<figure class='wanted-image'>
    <% wanteds.each do |wanted| %>
      <%= link_to wanted_path(wanted) do %>
        <% if wanted.already_solved? %>
          <figcaption class="show_solved">解決済</figcaption>
        <% else %>
          <figcaption>未解決</figcaption>
        <% end %>
        <div class="count_box">
          <%= image_tag wanted.image.url, size: '250x250' if wanted.image? %>
          <div class="human_icon">
            <i class="far fa-user"></i><%= wanted.cooperations.count %>
          </div>
        </div>
        <figcaption>
          <p><%= wanted.address %></p>
          <p><%= wanted.date %></p>
        </figcaption>
      <% end %>
    <% end %>
 </figure>

