<h1>捜索願提出</h1>

<div class='row'>
  <div class='col-sm-6 offset-sm-3'>
    <%= form_with(model: @wanted, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <button type="button" class="btn btn-outline-secondary rounded-pill">
         <%= f.file_field :image %>
      </button>
      
      <div class='form-group'>
        
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        
        <%= f.label :date, '迷子になった日時' %>
        <%= f.date_field :date, class: 'form-control' %>
        
        <%= f.label :address, '迷子になった場所' %>
        <%= f.text_field :address, placeholder: '住所・地名', class: 'form-control' %>
        
        <%= f.label :content, '具体的な状況' %>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
        
        <%= f.submit '提出', class: 'btn btn-primary btn-block mt-4' %>
      </div>
    <% end %>
  </div>
</div>