<h1>捜索願</h1>

<% if @wanted.already_solved? %>
  <div class="col-sm-6 offset-sm-3 solved_marker">解決済</div>
<% end %>

<h2 class="wanted_title"><%= @wanted.title %></h2>

<div class="async_count">
  <%= render 'cooperations/count_cooperations', count_cooperating: @count_cooperating %>
</div>

<%# 捜索願の内容 %>
<div class='media row mt-4'>
  <%= image_tag @wanted.image.url, size: '300x300', class: 'col-sm-6' if @wanted.image? %>
  <div class='media-body col-sm-6'>
    <div class='wanted-content'>
      <h3>迷子になった日</h3>
      <p><%= @wanted.date %></p>
      <h3>具体的な状況</h3>
      <p><%= @wanted.content %></p>
      <h3>迷子になった場所</h3>
      <p><%= @wanted.address %></p>
      <%# グーグルマップの表示 %>
      <div id="gmap_wrapper">
        <div id="map"></div>
      </div> 
    </div>
    <% if logged_in? %>
      <% if current_user == @wanted.user %>
      <div class="btn-group">
        <%= link_to '捜索願を取り消す', @wanted, method: :delete, class: 'btn btn-danger mt-4' %>
        <%= render 'solveds/solved_button', wanted: @wanted %>
      </div>
      <% else %>
      <div class="async_cooperation">
        <p><%= render 'cooperations/cooperations_button', wanted: @wanted %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# 目撃証言 %>
<% if logged_in? %>
  <div class="async_testimony">
    <%= render 'testimonies/testimonies', testimonies: @testimonies %>
  </div>

  <div class="offset-sm-4 col-sm-4">
    <div class="form-group mt-4">
      <%= form_with(model: [@wanted, @testimony]) do |f| %>
      <div class="testimony_error">
        <%= render 'layouts/error_messages', model: @testimony %>
      </div>
        <%= f.hidden_field :wanted_id, value: @wanted.id %>
        <%= f.text_area :content, placeholder: "目撃情報", class: "async_text_area form-control" %>
        <%= f.file_field :photo, class: "async_file_area form-control" %>
        <%= f.submit "送信", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
<% end %>
  
<%# GoogleMapの描画 %>
<script type="text/javascript"  >
    function initMap() {

        var test ={lat: <%= @wanted.latitude %>, lng: <%= @wanted.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @wanted.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" data-turbolinks-eval="false" async defer></script>