<h1>捜索願</h1>
<h2><%= @wanted.title %></h2>

<div class='media row mt-4'>
  <%= image_tag @wanted.image.url, size: '300x300', class: 'col-sm-6' if @wanted.image? %>
  <div class='media-body col-sm-6'>
    <div class='wanted-content'>
      <h3>迷子になった日</h3>
      <p><%= @wanted.date %></p>
      <h3>具体的な状況</h3>
      <p><%= @wanted.content %></p>
      <h3>迷子になった場所</h3>
      <p><%= @wanted.address %></p>
      <div id="gmap_wrapper">
        <div id="map"></div>
      </div> 
    </div> 
    <p><%= link_to '捜索願を取り消す', @wanted, method: :delete, class: 'btn btn-danger mt-4' %></p>
  </div>
</div>


<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @wanted.latitude %>, lng: <%= @wanted.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @wanted.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
    
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>