<footer>
  <div class="footer-menu">
    <p><%= link_to 'HOME', root_path %></p>
    <% if logged_in? %>
      <p><%= link_to '投稿', new_post_path %></p>
      <p><%= link_to 'Mypage', current_user %></p>
    <% else %>
      <p><%= link_to '登録', signup_path %></p>
      <p><%= link_to 'ログイン', login_path %></p>
    <% end %>
  </div>
　<div class="copy">
    &copy; 2021 Small-Image.
  </div>
</footer>