<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="/" class="navbar-brand">stray-cats</a>
    
    <ul class="navbar-nav w-50 nav-justified">
        <li class="nav-item"><%= link_to 'HOME', root_path %></li>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to '投稿', new_wanted_path %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><%= link_to 'Mypage', current_user %></li>
            <li class="dropdown-item"><%= link_to 'プロフィールの編集', edit_user_path(current_user) %></li>
            <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to '登録はこちらから', signup_path %></li>
        <li class="nav-item"><%= link_to 'ログイン', login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>